In [2]:
def add2Numbers(a,b):
    return a + b


a = int (input("Enter a number: "))
b = int (input("Enter another number: "))
print("The sum of the two numbers is: ", add2Numbers(a,b))

The sum of the two numbers is:  58

In [4]:
print("Shristi loves Arka")
print()
print("But Arka loves Shristi more")

Shristi loves
 Arka

But Arka loves
 Shristi more

In [7]:
print("Arka", "Shristi", "Debarpan", "Anik", end = " ")
print("Aritra")

Arka Shristi Debarpan Anik Aritra

In [8]:
print("My", "name", "is", sep ="_", end ="*")

My_name_is*

In [9]:
print("Monty", "Python.", sep ="*",end = "\n")

Monty*Python.

In [13]:
x = 10
y = 10.55
z = 1 + 2j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [14]:
x = 10.5e2
print(x)
print(type(x))

1050.0
<class 'float'>

In [15]:
a = 10
b = 20

print("Sum is", c := a + b)
print("Multiplication is", c := a * b)

print('"Sum is {a + b} \n Multiplication is {a * b}"')

Sum is 30
Multiplication is 200
"Sum is {a + b}
 Multiplication is {a * b}"

In [18]:
x = 5
x = 10

if(x < 10 and x < 10):
    print("Hello")
    
print("Tello")

Tello

In [19]:
a = float(input("Enter a number: "))
ans = a % 1

print("The fractional part is: ", ans)

The fractional part is:  0.43786789000000015

Membership Operators

In [21]:
string1 = "Hello"
string2 = 'e'

print(string2 in string1)

True

Nested if-else statements

In [22]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

if(num1 >= num2):
    if(num1 == num2):
        print("Both numbers are equal")
    else:
        print("First number is greater")

else:
    print("Second number is greater")

Second number is greater

In [23]:
for x in "MCA":
    print(x)

M
C
A

In [24]:
y = ["vit", "mca", "first year"]
for x in y:
    print(x)

vit
mca
first year

In [25]:
for n in range(1, 10, 3):
    print("Incrementing by 3: ", n)

Incrementing by 3:  1
Incrementing by 3:  4
Incrementing by 3:  7

In [26]:
for i in range(1, 10):
    print("\t", i, end = " ")

	 1 	 2 	 3 	 4 	 5 	 6 	 7 	 8 	 9

In [29]:
count = 0
while(count < 5):
    count += 1
    print("God", end = " ")

God God God God God

In [30]:
for i in range(1, 5):
    break

print(i)

1

In [31]:
for i in range(1, 5):
    for i in range(1, 5):
        if (i > 2):
            break
        print(i, end=" ")

1 2 1 2 1 2 1 2

In [32]:
for i in range(1, 5):
    if (i == 2):
        continue
    print(i, end=" ")

1 3 4

In [33]:
for letter in "ARKA":
    if(letter == "A"):
        continue
    print(letter, end=" ")

R K

Armstrong Number

In [36]:
n = int(input("Enter a number: "))
sum = 0

temp = n
while(temp > 0):
    digit_place = temp % 10
    sum += digit_place ** 3
    temp = temp // 10    
    


if(sum == n):
    print(n, "is an Armstrong number")
    
else:
    print(n, "is not an Armstrong number")

153 is an Armstrong number

In [37]:
import sys

empty_list = []
print(sys.getsizeof(empty_list))

56

In [38]:
import sys

integer_list = [1, 2, 3, 4, 5]
print(sys.getsizeof(integer_list))

120

In [40]:
import sys
my_list = [3, 4, 6, 10, 8]

print("Values accessed using positive indexing")
print(my_list[2])

print("Values accessed using negative indexing")
print(my_list[-2])

Values accessed using positive indexing
6
Values accessed using negative indexing
10

In [41]:
matrix = [[0, 1, 2],
[3, 4, 5],
[6, 7, 8],
[9, 10, 11]]
print(matrix[0][1])
print(matrix[2][1])

1
7

In [42]:
list = [3, 4, 6, 10, 8, 5]
print(list)
list[3] = 7
print(list)
list[-1] = 6
print(list)

[3, 4, 6, 10, 8, 5]
[3, 4, 6, 7, 8, 5]
[3, 4, 6, 7, 8, 6]

In [45]:
vowels = ['a', 'e']
print(vowels)

vowels.append('i')
print(vowels)

vowels.extend(['o', 'u'])
print(vowels)

['a', 'e']
['a', 'e', 'i']
['a', 'e', 'i', 'o', 'u']

In [46]:
vowels = ['a', 'e']
vowels[len(vowels) : ] = ['i']
print(vowels)

['a', 'e', 'i']

In [47]:
list = [1, 2, 3, 4, 5]
print(list)

del list[2]
print(list)

list.remove(4)
print(list)

list.pop(1)
print(list)

list.clear()
print(list)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]
[1, 2, 5]
[1, 5]
[]

In [48]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]

concat_list = list1 + list2
print(concat_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [50]:
my_list = [1, 2, 3, 4, 5]
print(my_list * 2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]